/* Animacioni i slide-in */
@keyframes slideIn {
    0% {
        transform: translateY(50px); /* Fillon poshtë */
        opacity: 0; /* Fillon me të papërcaktuar */
    }
    100% {
        transform: translateY(0); /* Arrin pozicionin e tij origjinal */
        opacity: 1; /* Bëhet plotësisht i dukshëm */
    }
}

.header {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; 
}

.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.container {
    position: relative;
    z-index: 1; 
}

.header-title {
    font-size: 50px;
    font-weight: 900;
    line-height: 1.2;
    opacity: 80%;
    text-shadow: 2px 2px 0 #f11a28, 
                 -2px 2px 0 #f11a28, 
                 2px -2px 0 #f11a28, 
                 -2px -2px 0 #f11a28; 
    margin-bottom: 600px;
    white-space: normal; /* Lejon që teksti të kalojë në rreshtin tjetër */
    overflow: hidden;
    word-wrap: break-word; /* Siguron që fjala të kalojë në rreshtin tjetër nëse është shumë e gjatë */
    animation: slideIn 1s ease-out; /* Aplikoni animacionin */
}

@media screen and (max-width: 600px) {
    .header-title {
        font-size: 30px; /* Madhësia e fontit për ekranet e vogla */
        margin-bottom: 600px; /* Ul hapësirën poshtë titullit për ekranet e vogla */
        white-space: normal; /* Siguron që teksti të kalojë në rreshtin tjetër */
        word-wrap: break-word; /* Siguron që fjala të kalojë në rreshtin tjetër nëse është shumë e gjatë */
        animation: slideIn 1s ease-out; /* Aplikoni animacionin për ekranet e vogla gjithashtu */
    }

    .container {
        padding: 0 20px; /* Shtojmë disa margjina për t'i dhënë më shumë hapësirë */
    }
}
