.header {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Siguron që asnjë pjesë e videos nuk del jashtë */
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Video shfaqet prapa përmbajtjes */
}

.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Siguron që video të mbushë ekranin pa deformime */
    
}

.container {
    position: relative;
    z-index: 1; /* Përmbajtja është mbi videon */
}

.header-title {
    font-size: 50px;
    font-weight: 900;
    line-height: 1.2;
    background: linear-gradient(to right, #560202, #f11a28);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 600px) {
    .header-title {
        font-size: 88px;
    }
    .header-content * {
        max-width: 920px;
    }
}
