.features .item-icon {
    transition: var(--transition);
}

.features .item-head {
    padding: 18px 28px;
    cursor: pointer;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    gap: 12px; 
}

.features .item-head-border {
    border-bottom: 2px solid #f11a28;
}

.features .item-body {
    margin-top: 16px;
    max-height: 0; 
    overflow: hidden; 
    transition: max-height 500ms linear, overflow 0s ease-out; 
}

.features .item-body-show {
    max-height: 1000px; 
    overflow-y: auto;
}


.features .item-body-show {
    max-height: 200px;
}

.features .item-icon-rotate {
    transform: rotate(45deg);
}

.title {
    color: #f11a28;
}


@media (max-width: 768px) {
    .features .item-head {
        padding: 15px 20px; 
    }

    .features .item-head h6 {
        font-size: 18px; 
        margin-left: 0;
    }

    .features .item-body .text {
        font-size: 30px; 
    }
}

@media (max-width: 480px) {
    .features .item-head {
        padding: 12px 16px;
    }

    .features .item-head h6 {
        font-size: 16px; 
        margin-left: 0; 
    }

    .features .item-body .text {
        font-size: 20px; 
    }
}
